:root {
    --main-bg-color: #fffdfd;
    --topnav-text-color: #000000c0;
    --topnav-text-shadow-color: rgba(149, 157, 165, 0.651); 
    --topnav-height: 140px;
    --font-family-header: 'Zen Kaku Gothic Antique', sans-serif;
    --font-family-body: "Lato", sans-serif;
    --box-shadow-color: rgba(149, 157, 165, 0.144);
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

body {
    overflow-y: auto;
    font-family: var(--font-family-body);
}

.topnav {
    width: auto;
    height: var(--topnav-height);
}

.topnav h2 {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 220%;
    font-family: var(--font-family-header);
    color: var(--topnav-text-color);
}

.main {
    text-align: center;
}
